<footer>
    <div class="footer-container">
        <div class="left-col">
             <img src="/img/logo-warna.png" class="logo">

            <div class="social-media">
                <a href="https://www.instagram.com/jabutech/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                <a href="https://github.com/jabutech" target="_blank"><i class="fa fa-github fa-lg"></i></a>
            </div>

            <p class="rights-text"> 
                &copy; {{ now.Format "2006"}}
                 All rights reserved | Design by <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </p>
        </div>
    </div>
</footer>